# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log